*{
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 0;
    background-color: transparent;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Kurale", serif;
    background-color: #8C7B5D;
}
.rohan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 35px;
}
.departament-welcome{
    display: flex;
    align-items: center;
    gap: 12px;
}
.welcome{
    font-weight: 300;
}
.departament-links{
    display: flex;
    gap: 50px;
    font-size: 18px;
}
.link-departament{
    font-weight: 600;
}
.left{
    color: #F8E4DD;
    padding: 35px;
}
.left-text{
    font-size: 3.5vw;
}
.comfort{
    letter-spacing: 20px;
}
.text{
    font-size: 23px;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.order{
    background-color: #484031;
    height: 34px;
    padding: 0 27px;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    border-color: transparent;
}
main{
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
}
.croissants{
    border-radius: 1000px 0px 0px 1000px;
}
/* menu */
.menu-header{
    display: flex;
    justify-content: space-between;
    margin: 200px 35px;

}
.menu-header-inner{
    display: flex;
    align-items: center;
}
.chevron{
    height: 2vw;
}
.menu-text{
    font-size: 1.9vw;
    color: #F8E4DD;
    font-weight: 500;
}

.bottom{
    height: 18vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img{
    border-radius: 30px 30px 0px 0px;
    height: 18vw;
}
.card-inner{
    background-color: #484031;
    border-radius: 30px;
}
.top{
    border-radius: 30px;
}
.cards-inner{
    display: flex;
    justify-content: space-between;
    padding: 20px 35px;
}
.name{
    font-size: 2.6vw;
    font-weight: 500;
    text-align: center;
    color: #F8E4DD;
}
.overview{
    font-size: 1.8vw;
    color: #F8E4DD;
}
.sell{
    color: #F8E4DD;
    text-align: end;
    font-size: 2vw;
}
/* we */
.we{
    height: 100vh;
    background: url(assets/images/confectionery.jpg) center center no-repeat;
    background-size: cover;
    margin-top: 100px;
    display: flex;
    align-items: center;
}
.we-inner{
    height: 40vw;
    background-color: rgba(255, 255, 255, 0.082);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    padding: 40px;
    border-radius: 0px 1000px 1000px 0px;
}
.we-text{
    color: #F8E4DD;
    font-size: 3.2vw;
}
/* stock */
.stock{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 30px;
}
.stock-name{
    font-size: 3vw;
    color: #F8E4DD;
    text-align: center;
}
.stock-text{
    font-size: 2.5vw;
    font-weight: 300;
    text-align: center;
    color: #F8E4DD;
}
.stock-inner{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.promotion{
    border-radius: 50px;
    height: 35vw;
}
.shedule{
    color: #F8E4DD;
    display: flex;
    justify-content: space-between;
    padding: 20px 35px;
}
.shedule-inner{
    text-align: center;
}
.shedule-name{
    font-size: 2.6vw;
}
.shedule-data{
    font-size: 2.2vw;
}
.payment{
    display: flex;
    justify-content: space-between;
    padding: 20px 35px;
    background-color: #484031;
    height: 10vw;
}
.payment-inner{
    display: flex;
    align-items: center;
}
.payment-img{
    height: 5.5vw;
}
.payment-text{
    font-size: 1.4vw;
}
/* map */
.map{
    height: 100vh;
    padding-top: 20px;
}